openapi: 3.2.0
info:
  title: Integration App Integrations API
  version: '1.0'
  description: 'Operations tagged Integrations across 2 of this provider''s published API definitions: integration-app-openapi.yml, integration-app-integrations-api-openapi.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://api.getmembrane.com
  description: Production API
tags:
- name: Integrations
paths:
  /integrations:
    get:
      tags:
      - Integrations
      summary: List integrations
      operationId: listIntegrations
      responses:
        '200':
          description: Integration list
      security:
      - bearerAuth: []
    post:
      tags:
      - Integrations
      summary: Create integration
      operationId: createIntegration
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Integration'
      responses:
        '201':
          description: Integration created
      security:
      - bearerAuth: []
    servers:
    - url: https://api.getmembrane.com
      description: Production API
  /integrations/{selector}:
    parameters:
    - $ref: '#/components/parameters/Selector'
    get:
      tags:
      - Integrations
      summary: Get integration
      operationId: getIntegration
      responses:
        '200':
          description: Integration
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Integration'
      security:
      - bearerAuth: []
    servers:
    - url: https://api.getmembrane.com
      description: Production API
  /integrations/{elementSelector}/refresh:
    servers:
    - url: https://api.getmembrane.com
    post:
      operationId: refreshIntegration
      parameters:
      - name: elementSelector
        required: true
        in: path
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseWorkspaceElementDto'
      summary: Refresh integration
      tags:
      - Integrations
      security:
      - bearer: []
  /integrations/{elementSelector}/restore:
    servers:
    - url: https://api.getmembrane.com
    post:
      operationId: restoreIntegration
      parameters:
      - name: elementSelector
        required: true
        in: path
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseWorkspaceElementDto'
      summary: Restore (unarchive) integration
      tags:
      - Integrations
      security:
      - bearer: []
  /integrations/{idOrKey}:
    servers:
    - url: https://api.getmembrane.com
    get:
      operationId: getIntegration
      parameters:
      - name: idOrKey
        required: true
        in: path
        schema:
          type: string
      - name: includeSecrets
        required: true
        in: query
        schema:
          type: boolean
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IntegrationApiResponseDto'
      summary: Get integration by selector (id, uuid, or key)
      tags:
      - Integrations
      security:
      - bearer: []
  /integrations/{idOrKey}/parameters:
    servers:
    - url: https://api.getmembrane.com
    put:
      operationId: setIntegrationParameters
      parameters:
      - name: idOrKey
        required: true
        in: path
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SetIntegrationParametersDto'
      responses:
        '204':
          description: Operation completed successfully
      summary: Set integration parameters
      tags:
      - Integrations
      security:
      - bearer: []
  /integrations/{id}:
    servers:
    - url: https://api.getmembrane.com
    patch:
      operationId: patchIntegration
      parameters:
      - name: id
        required: true
        in: path
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateIntegrationDto'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IntegrationApiResponseDto'
      summary: Update integration partially
      tags:
      - Integrations
      security:
      - bearer: []
    put:
      operationId: updateIntegration
      parameters:
      - name: id
        required: true
        in: path
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateIntegrationDto'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IntegrationApiResponseDto'
      summary: Update integration completely
      tags:
      - Integrations
      security:
      - bearer: []
    delete:
      operationId: archiveIntegration
      parameters:
      - name: id
        required: true
        in: path
        schema:
          type: string
      responses:
        '200':
          description: ''
      summary: Archive an integration
      tags:
      - Integrations
      security:
      - bearer: []
  /integrations/{id}/data:
    servers:
    - url: https://api.getmembrane.com
    get:
      operationId: getIntegrationDataLocations
      parameters:
      - name: id
        required: true
        in: path
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
      summary: List integration data locations
      tags:
      - Integrations
      security:
      - bearer: []
  /integrations/{id}/data/{dataLocationKey}:
    servers:
    - url: https://api.getmembrane.com
    get:
      operationId: getIntegrationDataLocationByKey
      parameters:
      - name: id
        required: true
        in: path
        schema:
          type: string
      - name: dataLocationKey
        required: true
        in: path
        schema:
          type: string
      - name: collectionParams
        required: false
        in: query
        description: Data Collection parameters
        style: form
        explode: true
        schema:
          type: object
          additionalProperties:
            type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DataCollectionSpecDto'
      summary: Get integration data location
      tags:
      - Integrations
      security:
      - bearer: []
  /integrations/{id}/export:
    servers:
    - url: https://api.getmembrane.com
    get:
      operationId: exportIntegration
      parameters:
      - name: id
        required: true
        in: path
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IntegrationExportResponseDto'
      summary: Export integration by ID
      tags:
      - Integrations
      security:
      - bearer: []
  /integrations/{id}/global-webhooks:
    servers:
    - url: https://api.getmembrane.com
    get:
      operationId: getIntegrationGlobalWebhooks
      parameters:
      - name: id
        required: true
        in: path
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
      summary: List integration global webhooks
      tags:
      - Integrations
      security:
      - bearer: []
  /integrations/{id}/parameters:
    servers:
    - url: https://api.getmembrane.com
    get:
      operationId: getIntegrationParameters
      parameters:
      - name: id
        required: true
        in: path
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
                additionalProperties:
                  type: object
                  properties:
                    name:
                      type: string
                    type:
                      type: string
                    description:
                      type: string
                    required:
                      type: boolean
                    default:
                      type: string
                  required:
                  - name
                  - type
                  - description
                  - required
                  - default
      summary: Get integration parameters
      tags:
      - Integrations
      security:
      - bearer: []
  /integrations/{id}/setup:
    servers:
    - url: https://api.getmembrane.com
    post:
      operationId: setupIntegration
      parameters:
      - name: id
        required: true
        in: path
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IntegrationApiResponseDto'
      summary: Setup integration configuration
      tags:
      - Integrations
      security:
      - bearer: []
  /integrations/{id}/upload-connector:
    servers:
    - url: https://api.getmembrane.com
    post:
      operationId: uploadIntegrationConnector
      parameters:
      - name: id
        required: true
        in: path
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IntegrationApiResponseDto'
      summary: Upload connector to integration
      tags:
      - Integrations
      security:
      - bearer: []
components:
  parameters:
    Selector:
      name: selector
      in: path
      required: true
      description: Resource id or unique key.
      schema:
        type: string
  schemas:
    Integration:
      type: object
      properties:
        id:
          type: string
        key:
          type: string
        name:
          type: string
        connectorId:
          type: string
    DataCollectionSpecDto__schema0:
      type: object
      properties:
        title:
          type: string
        description:
          type: string
        type:
          anyOf:
          - type: string
          - type: array
            items:
              type: string
        format:
          type: string
        properties:
          type: object
          additionalProperties:
            $ref: '#/components/schemas/DataCollectionSpecDto__schema0'
        items:
          $ref: '#/components/schemas/DataCollectionSpecDto__schema0'
        additionalProperties:
          anyOf:
          - type: boolean
          - $ref: '#/components/schemas/DataCollectionSpecDto__schema0'
        enum:
          type: array
          items:
            anyOf:
            - type: string
            - type: number
        referenceRecords:
          type: array
          items:
            type: object
        referenceCollection:
          type: object
          properties:
            key:
              type: object
            parameters:
              type: object
              additionalProperties:
                type: object
        referenceUdm:
          type: string
        default:
          type: object
        allowCustom:
          type: boolean
        $ref:
          type: string
        required:
          type: array
          items:
            type: string
        minLength:
          type: number
        maxLength:
          type: number
        minimum:
          type: number
        maximum:
          type: number
        maxItems:
          type: number
        readOnly:
          type: boolean
        writeOnly:
          type: boolean
        examples:
          type: array
          items:
            type: object
        anyOf:
          type: array
          items:
            $ref: '#/components/schemas/DataCollectionSpecDto__schema0'
        isImplied:
          type: boolean
        isSensitive:
          type: boolean
        referenceCollectionPath:
          type: string
        referenceCollectionUri:
          type: string
      additionalProperties:
        type: object
    IntegrationExportResponseDto:
      type: object
      properties:
        uuid:
          description: Stable unique identifier (UUID). Can be provided on create; otherwise generated. Must be unique across elements of this type.
          type: string
        key:
          description: Stable key for referencing the element (e.g. in selectors). Unique per (parent, integration) scope. Generated from name if not provided on create.
          type: string
        name:
          description: Display name. Optional on create; used to generate key when key is omitted.
          type: string
        description:
          description: Optional human-readable description.
          type: string
        meta:
          description: Optional key-value metadata.
          type: object
          additionalProperties:
            type: object
        logoUri:
          type: string
        externalAppUuid:
          type: string
        oAuthCallbackUri:
          anyOf:
          - type: string
            format: uri
          - type: string
            enum:
            - ''
        logoBase64:
          type: string
        connectorVersion:
          type: string
        connectorUuid:
          type: string
        connectorKey:
          description: Key of the connector; alternative to connectorId. Resolved to connectorId by the API.
          type: string
        optionsConfig:
          type: object
          additionalProperties:
            type: object
            properties:
              disabled:
                type: boolean
              parameters:
                type: object
                additionalProperties:
                  type: object
      required:
      - uuid
      - key
    DataCollectionSpecDto:
      type: object
      properties:
        type:
          type: string
          enum:
          - collection
        key:
          type: string
        name:
          type: string
        parametersSchema:
          $ref: '#/components/schemas/DataCollectionSpecDto__schema0'
        fieldsSchema:
          $ref: '#/components/schemas/DataCollectionSpecDto__schema0'
        list:
          type: object
          properties:
            apiRequests:
              type: array
              items:
                type: object
                properties:
                  path:
                    type: object
                  method:
                    type: object
                required:
                - path
                - method
            filterFields:
              type: array
              items:
                type: string
        search:
          type: object
          properties:
            apiRequests:
              type: array
              items:
                type: object
                properties:
                  path:
                    type: object
                  method:
                    type: object
                required:
                - path
                - method
        match:
          type: object
          properties:
            apiRequests:
              type: array
              items:
                type: object
                properties:
                  path:
                    type: object
                  method:
                    type: object
                required:
                - path
                - method
            fields:
              type: array
              items:
                type: string
        findById:
          type: object
          properties:
            apiRequests:
              type: array
              items:
                type: object
                properties:
                  path:
                    type: object
                  method:
                    type: object
                required:
                - path
                - method
        create:
          type: object
          properties:
            apiRequests:
              type: array
              items:
                type: object
                properties:
                  path:
                    type: object
                  method:
                    type: object
                required:
                - path
                - method
            fields:
              type: array
              items:
                type: string
            requiredFields:
              type: array
              items:
                type: string
            excludedFields:
              type: array
              items:
                type: string
        update:
          type: object
          properties:
            apiRequests:
              type: array
              items:
                type: object
                properties:
                  path:
                    type: object
                  method:
                    type: object
                required:
                - path
                - method
            fields:
              type: array
              items:
                type: string
            excludedFields:
              type: array
              items:
                type: string
        delete:
          type: object
          properties:
            apiRequests:
              type: array
              items:
                type: object
                properties:
                  path:
                    type: object
                  method:
                    type: object
                required:
                - path
                - method
        events:
          type: object
          properties:
            created:
              type: object
              properties:
                type:
                  type: string
                  enum:
                  - push
                  - pull
                isFullScan:
                  type: boolean
                isIdOnly:
                  type: boolean
              required:
              - type
            updated:
              type: object
              properties:
                type:
                  type: string
                  enum:
                  - push
                  - pull
                isFullScan:
                  type: boolean
                isIdOnly:
                  type: boolean
              required:
              - type
            deleted:
              type: object
              properties:
                type:
                  type: string
                  enum:
                  - push
                  - pull
                isFullScan:
                  type: boolean
                isIdOnly:
                  type: boolean
              required:
              - type
            all:
              type: object
              properties:
                type:
                  type: string
                  enum:
                  - push
                  - pull
                isFullScan:
                  type: boolean
                isIdOnly:
                  type: boolean
              required:
              - type
          additionalProperties:
            type: object
            properties:
              type:
                type: string
                enum:
                - push
                - pull
              isFullScan:
                type: boolean
              isIdOnly:
                type: boolean
            required:
            - type
        customFields:
          type: boolean
        udm:
          type: object
          additionalProperties:
            type: object
            properties:
              fields:
                type: array
                items:
                  type: string
              extract:
                type: object
                additionalProperties:
                  type: object
              parse:
                type: object
                additionalProperties:
                  type: object
        find:
          type: object
          properties:
            apiRequests:
              type: array
              items:
                type: object
                properties:
                  path:
                    type: object
                  method:
                    type: object
                required:
                - path
                - method
            queryFields:
              type: array
              items:
                type: string
      required:
      - type
      - name
    UpdateIntegrationDto:
      type: object
      properties:
        uuid:
          type: string
          description: Stable unique identifier (UUID). Can be provided on create; otherwise generated. Must be unique across elements of this type.
        key:
          type: string
          description: Stable key for referencing the element (e.g. in selectors). Unique per (parent, integration) scope. Generated from name if not provided on create.
        name:
          type: string
          description: Display name. Optional on create; used to generate key when key is omitted.
        description:
          type: string
          description: Optional human-readable description.
        meta:
          type: object
          description: Optional key-value metadata.
          additionalProperties:
            type: object
        logoUri:
          type: string
        externalAppId:
          type: string
          description: External app id; alternative to connectorId — resolves to the app's default connector.
        externalAppUuid:
          type: string
        oAuthCallbackUri:
          anyOf:
          - type: string
            format: uri
          - type: string
            enum:
            - ''
        logoBase64:
          type: string
        connectorVersion:
          type: string
        connectorId:
          type: string
          description: ID of the connector this integration uses.
        connectorUuid:
          type: string
        connectorKey:
          type: string
          description: Key of the connector; alternative to connectorId. Resolved to connectorId by the API.
        parameters:
          type: object
          description: Connector-specific parameters (e.g. OAuth { clientId, clientSecret, scopes }).
          additionalProperties:
            type: object
        optionsConfig:
          type: object
          additionalProperties:
            type: object
            properties:
              disabled:
                type: boolean
              parameters:
                type: object
                additionalProperties:
                  type: object
    IntegrationApiResponseDto__schema0:
      type: object
      properties:
        type:
          type: string
          enum:
          - bad_request
          - connection
          - configuration
          - dependency_error
          - flow_run
          - flow_instance_setup
          - concurrency
          - internal
          - action_run
          - action_instance_setup
          - unit_run
          - custom_code
          - insufficient_credit
          - openrouter_not_configured
        key:
          type: string
        message:
          type: string
        data:
          type: object
        stack:
          type: object
        causedByError:
          $ref: '#/components/schemas/IntegrationApiResponseDto__schema0'
        logs:
          type: array
          items:
            type: object
      required:
      - message
    BaseWorkspaceElementDto:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        meta:
          type: object
          additionalProperties:
            type: object
        archivedAt:
          type: string
        isDeactivated:
          type: boolean
        isReadOnly:
          type: boolean
        state:
          type: string
          enum:
          - BUILDING
          - CLIENT_ACTION_REQUIRED
          - CONFIGURATION_ERROR
          - SETUP_FAILED
          - READY
          - DISCONNECTING
        errors:
          type: array
          items:
            type: object
      required:
      - id
      - name
    CreateIntegrationDto:
      type: object
      properties:
        uuid:
          description: Stable unique identifier (UUID). Can be provided on create; otherwise generated. Must be unique across elements of this type.
          type: string
        key:
          description: Stable key for referencing the element (e.g. in selectors). Unique per (parent, integration) scope. Generated from name if not provided on create.
          type: string
        name:
          description: Display name. Optional on create; used to generate key when key is omitted.
          type: string
        description:
          description: Optional human-readable description.
          type: string
        meta:
          description: Optional key-value metadata.
          type: object
          additionalProperties:
            type: object
        logoUri:
          type: string
        externalAppId:
          description: External app id; alternative to connectorId — resolves to the app's default connector.
          type: string
        externalAppUuid:
          type: string
        oAuthCallbackUri:
          anyOf:
          - type: string
            format: uri
          - type: string
            enum:
            - ''
        logoBase64:
          type: string
        connectorVersion:
          type: string
        connectorId:
          description: ID of the connector this integration uses.
          type: string
        connectorUuid:
          type: string
        connectorKey:
          description: Key of the connector; alternative to connectorId. Resolved to connectorId by the API.
          type: string
        parameters:
          description: Connector-specific parameters (e.g. OAuth { clientId, clientSecret, scopes }).
          type: object
          additionalProperties:
            type: object
        optionsConfig:
          type: object
          additionalProperties:
            type: object
            properties:
              disabled:
                type: boolean
              parameters:
                type: object
                additionalProperties:
                  type: object
        intent:
          description: '[Experimental] Intent-based instruction for an agent to configure this element.'
          type: string
    IntegrationApiResponseDto:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
          description: Display name. Always present in API responses (filled by API if not set on create).
        uuid:
          description: Stable unique identifier (UUID). Can be provided on create; otherwise generated. Must be unique across elements of this type.
          type: string
        key:
          description: Stable key for referencing the element (e.g. in selectors). Unique per (parent, integration) scope. Generated from name if not provided on create.
          type: string
        description:
          description: Optional human-readable description.
          type: string
        meta:
          description: Optional key-value metadata.
          type: object
          additionalProperties:
            type: object
        state:
          description: Current lifecycle or health state (e.g. READY, SETUP_FAILED, CONFIGURATION_ERROR, BUILDING). Set by the engine during setup and validation.
          type: string
          enum:
          - BUILDING
          - CLIENT_ACTION_REQUIRED
          - CONFIGURATION_ERROR
          - SETUP_FAILED
          - READY
          - DISCONNECTING
        errors:
          description: Validation or setup errors when state is not READY.
          type: array
          items:
            $ref: '#/components/schemas/IntegrationApiResponseDto__schema0'
        revision:
          description: Opaque revision token; changes on each update. Used for optimistic concurrency.
          type: string
        createdAt:
          description: ISO date when the element was created.
          type: string
        updatedAt:
          description: ISO date when the element was last updated.
          type: string
        archivedAt:
          type: string
        isDeactivated:
          type: boolean
        isReadOnly:
          description: When true, the element cannot be modified (e.g. published package elements or elements from another workspace).
          type: boolean
        logoUri:
          type: string
        connectorId:
          type: string
        connectorVersion:
          type: string
        oAuthCallbackUri:
          type: string
        parameters:
          type: object
        hasMissingParameters:
          type: boolean
        hasDocumentation:
          type: boolean
        hasOperations:
          type: boolean
        operationsCount:
          type: number
        hasData:
          type: boolean
        dataCollectionsCount:
          type: number
        hasEvents:
          type: boolean
        eventsCount:
          type: number
        hasGlobalWebhooks:
          type: boolean
        hasUdm:
          type: boolean
        isTest:
          type: boolean
        externalAppId:
          type: string
        authType:
          type: string
          enum:
          - integration-app-token
          - membrane-token
          - oauth2
          - oauth1
          - client-credentials
          - proxy
        optionsConfig:
          type: object
          additionalProperties:
            type: object
            properties:
              disabled:
                type: boolean
              parameters:
                type: object
                additionalProperties:
                  type: object
        connection:
          type: object
          properties:
            id:
              type: string
              description: Internal database ID of the element. Assigned by the API; unique per element.
            name:
              type: string
            userId:
              type: string
            tenantId:
              type: string
            type:
              type: string
              enum:
              - connector
              - mcp
            key:
              type: string
            isTest:
              type: boolean
            connected:
              type: boolean
            disconnected:
              description: Use `connected` instead.
              type: boolean
              deprecated: true
            isDefunct:
              type: boolean
            state:
              type: string
              enum:
              - BUILDING
              - CLIENT_ACTION_REQUIRED
              - CONFIGURATION_ERROR
              - SETUP_FAILED
              - READY
              - DISCONNECTING
            errors:
              type: array
              items:
                $ref: '#/components/schemas/IntegrationApiResponseDto__schema0'
            requestError:
              $ref: '#/components/schemas/IntegrationApiResponseDto__schema0'
            error:
              description: Use `requestError` and `errors` instead.
              $ref: '#/components/schemas/IntegrationApiResponseDto__schema0'
              deprecated: true
            integrationId:
              type: string
            connectorId:
              type: string
            externalAppId:
              type: string
            connectorVersion:
              type: string
            authOptionKey:
              type: string
            createdAt:
              type: string
            updatedAt:
              type: string
            lastActiveAt:
              type: string
            nextCredentialsRefreshAt:
              type: string
            nextRetryTimestamp:
              type: string
            retryAttempts:
              type: number
            canTest:
              type: boolean
            canRefreshCredentials:
              type: boolean
            archivedAt:
              type: string
            isDeactivated:
              type: boolean
            meta:
              type: object
              additionalProperties:
                type: object
            buildingAgentSessionId:
              description: Session ID for building the element via intent-based endpoints (create/update with intent). Present when state is BUILDING.
              type: string
            clientAction:
              description: Action the client must perform to advance this connection. Present if and only if state is CLIENT_ACTION_REQUIRED.
              type: object
              properties:
                type:
                  type: string
                  enum:
                  - connect
                  - provide-input
                description:
                  type: string
                uiUrl:
                  type: string
                agentInstructions:
                  type: string
                handoffAgentInstructions:
                  type: string
              required:
              - type
              - description
          required:
          - id
          - name
          - userId
          - createdAt
          - updatedAt
        spec:
          type: object
        appUri:
          type: string
        isConnected:
          type: boolean
      required:
      - name
    SetIntegrationParametersDto:
      type: object
      properties: {}
      additionalProperties:
        type: object
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: 'Bearer token in the Authorization header. Test tokens are available

        from workspace settings; admin-level tokens are required for

        administrative operations.

        '
    bearer:
      scheme: bearer
      bearerFormat: JWT
      type: http
x-refined-from:
- integration-app-openapi.yml
- integration-app-integrations-api-openapi.yml
