openapi: 3.1.0
info:
  title: Membrane (formerly Integration.app) Platform Actions Field Mappings API
  description: 'The Membrane platform (rebranded from Integration.app) provides a unified

    API for building embedded and agentic integrations across 100,000+ apps.

    The REST API surfaces resources for connections, connectors, integrations,

    flows, actions, data collections, customers, packages, app event

    subscriptions, MCP-style agent sessions, and observability logs. Most

    selectable resources accept either an id or a key as `{selector}`.

    '
  version: '1.0'
  contact:
    name: Membrane Documentation
    url: https://docs.getmembrane.com
servers:
- url: https://api.getmembrane.com
  description: Production API
security:
- bearerAuth: []
tags:
- name: Field Mappings
paths:
  /field-mappings:
    get:
      tags:
      - Field Mappings
      summary: List field mappings
      operationId: listFieldMappings
      responses:
        '200':
          description: Mappings list
    post:
      tags:
      - Field Mappings
      summary: Create field mapping
      operationId: createFieldMapping
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FieldMapping'
      responses:
        '201':
          description: Created
  /field-mappings/{selector}:
    parameters:
    - $ref: '#/components/parameters/Selector'
    get:
      tags:
      - Field Mappings
      summary: Get field mapping
      operationId: getFieldMapping
      responses:
        '200':
          description: Mapping
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FieldMapping'
components:
  parameters:
    Selector:
      name: selector
      in: path
      required: true
      description: Resource id or unique key.
      schema:
        type: string
  schemas:
    FieldMapping:
      type: object
      properties:
        id:
          type: string
        key:
          type: string
        name:
          type: string
        integrationId:
          type: string
        fields:
          type: array
          items:
            type: object
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: 'Bearer token in the Authorization header. Test tokens are available

        from workspace settings; admin-level tokens are required for

        administrative operations.

        '
