openapi: 3.2.0
info:
  title: Integration App Customers API
  version: '1.0'
  description: 'Operations tagged Customers across 2 of this provider''s published API definitions: integration-app-openapi.yml, integration-app-customers-api-openapi.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://api.getmembrane.com
  description: Production API
tags:
- name: Customers
paths:
  /customers:
    get:
      tags:
      - Customers
      summary: List customers
      operationId: listCustomers
      responses:
        '200':
          description: Customer list
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomerList'
      security:
      - bearerAuth: []
    post:
      tags:
      - Customers
      summary: Create customer
      operationId: createCustomer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Customer'
      responses:
        '201':
          description: Customer created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Customer'
      security:
      - bearerAuth: []
    servers:
    - url: https://api.getmembrane.com
      description: Production API
  /customers/{id}:
    parameters:
    - $ref: '#/components/parameters/Id'
    get:
      tags:
      - Customers
      summary: Get customer
      operationId: getCustomer
      responses:
        '200':
          description: Customer
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Customer'
      security:
      - bearerAuth: []
    put:
      tags:
      - Customers
      summary: Replace customer
      operationId: replaceCustomer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Customer'
      responses:
        '200':
          description: Updated
      security:
      - bearerAuth: []
    patch:
      tags:
      - Customers
      summary: Update customer
      operationId: updateCustomer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Customer'
      responses:
        '200':
          description: Updated
      security:
      - bearerAuth: []
    delete:
      tags:
      - Customers
      summary: Delete customer
      operationId: deleteCustomer
      responses:
        '204':
          description: Deleted
      security:
      - bearerAuth: []
    servers:
    - url: https://api.getmembrane.com
      description: Production API
  /customers/{elementSelector}/restore:
    servers:
    - url: https://api.getmembrane.com
    post:
      operationId: restoreCustomer
      parameters:
      - name: elementSelector
        required: true
        in: path
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseWorkspaceElementDto'
      summary: Restore (unarchive) customer
      tags:
      - Customers
      security:
      - bearer: []
components:
  schemas:
    Customer:
      type: object
      properties:
        id:
          type: string
        externalId:
          type: string
        name:
          type: string
    CustomerList:
      type: object
      properties:
        items:
          type: array
          items:
            $ref: '#/components/schemas/Customer'
        cursor:
          type: string
    BaseWorkspaceElementDto:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        meta:
          type: object
          additionalProperties:
            type: object
        archivedAt:
          type: string
        isDeactivated:
          type: boolean
        isReadOnly:
          type: boolean
        state:
          type: string
          enum:
          - BUILDING
          - CLIENT_ACTION_REQUIRED
          - CONFIGURATION_ERROR
          - SETUP_FAILED
          - READY
          - DISCONNECTING
        errors:
          type: array
          items:
            type: object
      required:
      - id
      - name
  parameters:
    Id:
      name: id
      in: path
      required: true
      schema:
        type: string
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: 'Bearer token in the Authorization header. Test tokens are available

        from workspace settings; admin-level tokens are required for

        administrative operations.

        '
    bearer:
      scheme: bearer
      bearerFormat: JWT
      type: http
x-refined-from:
- integration-app-openapi.yml
- integration-app-customers-api-openapi.yml
