openapi: 3.2.0
info:
  title: Integration App App Event Subscriptions API
  version: '1.0'
  contact:
    name: Membrane Documentation
    url: https://docs.getmembrane.com
  description: 'Operations tagged App Event Subscriptions across 2 of this provider''s published API definitions: integration-app-openapi.yml, integration-app-app-event-subscriptions-api-openapi.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://api.getmembrane.com
  description: Production API
security:
- bearerAuth: []
tags:
- name: App Event Subscriptions
paths:
  /app-event-subscriptions:
    get:
      tags:
      - App Event Subscriptions
      summary: List app event subscriptions
      operationId: listAppEventSubscriptions
      responses:
        '200':
          description: List
    servers:
    - url: https://api.getmembrane.com
      description: Production API
  /app-event-subscriptions/{id}:
    parameters:
    - $ref: '#/components/parameters/Id'
    get:
      tags:
      - App Event Subscriptions
      summary: Get subscription
      operationId: getAppEventSubscription
      responses:
        '200':
          description: Subscription
    patch:
      operationId: patchAppEventSubscription
      parameters:
      - name: id
        required: true
        in: path
        description: ID
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AppEventSubscriptionUpdateDto'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppEventSubscriptionApiResponseDto'
      summary: Update internal event subscription by id
      tags:
      - App Event Subscriptions
    put:
      operationId: updateAppEventSubscription
      parameters:
      - name: id
        required: true
        in: path
        description: ID
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AppEventSubscriptionUpdateDto'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppEventSubscriptionApiResponseDto'
      summary: Update internal event subscription by id
      tags:
      - App Event Subscriptions
    delete:
      operationId: archiveAppEventSubscription
      parameters:
      - name: id
        required: true
        in: path
        description: ID
        schema:
          type: string
      responses:
        '200':
          description: ''
      summary: Archive internal event subscription by id
      tags:
      - App Event Subscriptions
    servers:
    - url: https://api.getmembrane.com
      description: Production API
  /app-event-subscriptions/{elementSelector}/dependencies:
    get:
      operationId: getAppEventSubscriptionDependencies
      parameters:
      - name: elementSelector
        required: true
        in: path
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
      summary: Get dependencies of a app event subscription
      tags:
      - App Event Subscriptions
    servers:
    - url: https://api.getmembrane.com
      description: Production API
  /app-event-subscriptions/{elementSelector}/refresh:
    post:
      operationId: refreshAppEventSubscription
      parameters:
      - name: elementSelector
        required: true
        in: path
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseWorkspaceElementDto'
      summary: Refresh app event subscription
      tags:
      - App Event Subscriptions
    servers:
    - url: https://api.getmembrane.com
      description: Production API
  /app-event-subscriptions/{elementSelector}/restore:
    post:
      operationId: restoreAppEventSubscription
      parameters:
      - name: elementSelector
        required: true
        in: path
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseWorkspaceElementDto'
      summary: Restore (unarchive) app event subscription
      tags:
      - App Event Subscriptions
    servers:
    - url: https://api.getmembrane.com
      description: Production API
  /app-event-subscriptions/{id}/schema:
    get:
      operationId: getAppEventSubscriptionSchema
      parameters:
      - name: id
        required: true
        in: path
        description: ID
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppEventSubscriptionSchemaResponseDto'
      summary: Get internal event subscription schema by id
      tags:
      - App Event Subscriptions
    servers:
    - url: https://api.getmembrane.com
      description: Production API
  /app-event-subscriptions/{id}/subscribe:
    post:
      operationId: subscribeToAppEventSubscription
      parameters:
      - name: id
        required: true
        in: path
        description: ID
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppEventSubscriptionApiResponseDto'
      summary: Subscribe to internal event subscription by id
      tags:
      - App Event Subscriptions
    servers:
    - url: https://api.getmembrane.com
      description: Production API
components:
  parameters:
    Id:
      name: id
      in: path
      required: true
      schema:
        type: string
  schemas:
    AppEventSubscriptionApiResponseDto__schema1:
      type: object
      properties:
        title:
          type: string
        description:
          type: string
        type:
          anyOf:
          - type: string
          - type: array
            items:
              type: string
        format:
          type: string
        properties:
          type: object
          additionalProperties:
            $ref: '#/components/schemas/AppEventSubscriptionApiResponseDto__schema1'
        items:
          $ref: '#/components/schemas/AppEventSubscriptionApiResponseDto__schema1'
        additionalProperties:
          anyOf:
          - type: boolean
          - $ref: '#/components/schemas/AppEventSubscriptionApiResponseDto__schema1'
        enum:
          type: array
          items:
            anyOf:
            - type: string
            - type: number
        referenceRecords:
          type: array
          items:
            type: object
        referenceCollection:
          type: object
          properties:
            key:
              type: object
            parameters:
              type: object
              additionalProperties:
                type: object
        referenceUdm:
          type: string
        default:
          type: object
        allowCustom:
          type: boolean
        $ref:
          type: string
        required:
          type: array
          items:
            type: string
        minLength:
          type: number
        maxLength:
          type: number
        minimum:
          type: number
        maximum:
          type: number
        maxItems:
          type: number
        readOnly:
          type: boolean
        writeOnly:
          type: boolean
        examples:
          type: array
          items:
            type: object
        anyOf:
          type: array
          items:
            $ref: '#/components/schemas/AppEventSubscriptionApiResponseDto__schema1'
        isImplied:
          type: boolean
        isSensitive:
          type: boolean
        referenceCollectionPath:
          type: string
        referenceCollectionUri:
          type: string
      additionalProperties:
        type: object
    AppEventSubscriptionSchemaResponseDto:
      type: object
      properties: {}
    AppEventSubscriptionUpdateDto:
      type: object
      properties:
        name:
          type: string
        meta:
          type: object
          additionalProperties:
            type: object
    AppEventSubscriptionApiResponseDto:
      type: object
      properties:
        id:
          type: string
          description: Internal database ID of the element. Assigned by the API; unique per element.
        name:
          type: string
          description: Display name. Always present in API responses (filled by API if not set on create).
        uuid:
          description: Stable unique identifier (UUID). Can be provided on create; otherwise generated. Must be unique across elements of this type.
          type: string
        key:
          description: Stable key for referencing the element (e.g. in selectors). Unique per (parent, integration) scope. Generated from name if not provided on create.
          type: string
        description:
          description: Optional human-readable description.
          type: string
        meta:
          description: Optional key-value metadata.
          type: object
          additionalProperties:
            type: object
        state:
          description: Current lifecycle or health state (e.g. READY, SETUP_FAILED, CONFIGURATION_ERROR, BUILDING). Set by the engine during setup and validation.
          type: string
          enum:
          - BUILDING
          - CLIENT_ACTION_REQUIRED
          - CONFIGURATION_ERROR
          - SETUP_FAILED
          - READY
          - DISCONNECTING
        errors:
          description: Validation or setup errors when state is not READY.
          type: array
          items:
            $ref: '#/components/schemas/AppEventSubscriptionApiResponseDto__schema0'
        revision:
          type: string
        createdAt:
          description: ISO date when the element was created.
          type: string
        updatedAt:
          description: ISO date when the element was last updated.
          type: string
        archivedAt:
          type: string
        isDeactivated:
          description: When true, setup is skipped and the element is treated as inactive (e.g. when dependencies are deactivated or the element is archived).
          type: boolean
        isReadOnly:
          description: When true, the element cannot be modified (e.g. published package elements or elements from another workspace).
          type: boolean
        userId:
          type: string
        tenantId:
          type: string
        appEventTypeId:
          type: string
        instanceKey:
          type: string
        isSubscribed:
          type: boolean
        schema:
          $ref: '#/components/schemas/AppEventSubscriptionApiResponseDto__schema1'
        webhookUri:
          type: string
        subscriptionRequest:
          type: object
          properties:
            method:
              type: string
            uri:
              type: object
            headers:
              type: object
              additionalProperties:
                type: object
            query:
              type: object
              additionalProperties:
                type: object
            body:
              type: object
          required:
          - uri
        subscriptionResponse:
          type: object
        appEventType:
          type: object
          properties:
            id:
              type: string
              description: Internal database ID of the element. Assigned by the API; unique per element.
            name:
              type: string
              description: Display name. Always present in API responses (filled by API if not set on create).
            uuid:
              description: Stable unique identifier (UUID). Can be provided on create; otherwise generated. Must be unique across elements of this type.
              type: string
            key:
              description: Stable key for referencing the element (e.g. in selectors). Unique per (parent, integration) scope. Generated from name if not provided on create.
              type: string
            description:
              description: Optional human-readable description.
              type: string
            meta:
              description: Optional key-value metadata.
              type: object
              additionalProperties:
                type: object
            state:
              description: Current lifecycle or health state (e.g. READY, SETUP_FAILED, CONFIGURATION_ERROR, BUILDING). Set by the engine during setup and validation.
              type: string
              enum:
              - BUILDING
              - CLIENT_ACTION_REQUIRED
              - CONFIGURATION_ERROR
              - SETUP_FAILED
              - READY
              - DISCONNECTING
            errors:
              description: Validation or setup errors when state is not READY.
              type: array
              items:
                $ref: '#/components/schemas/AppEventSubscriptionApiResponseDto__schema0'
            revision:
              type: string
            createdAt:
              description: ISO date when the element was created.
              type: string
            updatedAt:
              description: ISO date when the element was last updated.
              type: string
            archivedAt:
              type: string
            isDeactivated:
              description: When true, setup is skipped and the element is treated as inactive (e.g. when dependencies are deactivated or the element is archived).
              type: boolean
            isReadOnly:
              description: When true, the element cannot be modified (e.g. published package elements or elements from another workspace).
              type: boolean
            webhookKey:
              type: string
            subscribeRequest:
              type: object
              properties:
                method:
                  type: string
                uri:
                  type: object
                headers:
                  type: object
                  additionalProperties:
                    type: object
                query:
                  type: object
                  additionalProperties:
                    type: object
                body:
                  type: object
              required:
              - uri
            example:
              type: object
            schema:
              $ref: '#/components/schemas/AppEventSubscriptionApiResponseDto__schema1'
            globalWebhookUri:
              type: string
            tenantIdFormula:
              type: object
            userIdFormula:
              type: object
          required:
          - id
          - name
          - revision
          - webhookKey
          - globalWebhookUri
        user:
          type: object
          properties:
            id:
              type: string
            name:
              type: string
            meta:
              type: object
              additionalProperties:
                type: object
            internalId:
              type: string
            fields:
              type: object
              additionalProperties:
                type: object
            credentials:
              type: object
            lastActiveAt:
              type: string
            isTest:
              type: boolean
            isBillable:
              type: boolean
            isActive:
              type: boolean
            aiCreditsRolling30DayLimit:
              type:
              - number
              - 'null'
              minimum: 0
            createdAt:
              type: string
            archivedAt:
              type: string
          required:
          - id
          - name
          - internalId
      required:
      - id
      - name
      - revision
      - userId
      - appEventTypeId
      - isSubscribed
      - webhookUri
      - subscriptionRequest
    BaseWorkspaceElementDto:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        meta:
          type: object
          additionalProperties:
            type: object
        archivedAt:
          type: string
        isDeactivated:
          type: boolean
        isReadOnly:
          type: boolean
        state:
          type: string
          enum:
          - BUILDING
          - CLIENT_ACTION_REQUIRED
          - CONFIGURATION_ERROR
          - SETUP_FAILED
          - READY
          - DISCONNECTING
        errors:
          type: array
          items:
            type: object
      required:
      - id
      - name
    AppEventSubscriptionApiResponseDto__schema0:
      type: object
      properties:
        type:
          type: string
          enum:
          - bad_request
          - connection
          - configuration
          - dependency_error
          - flow_run
          - flow_instance_setup
          - concurrency
          - internal
          - action_run
          - action_instance_setup
          - unit_run
          - custom_code
          - insufficient_credit
          - openrouter_not_configured
        key:
          type: string
        message:
          type: string
        data:
          type: object
        stack:
          type: object
        causedByError:
          $ref: '#/components/schemas/AppEventSubscriptionApiResponseDto__schema0'
        logs:
          type: array
          items:
            type: object
      required:
      - message
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: 'Bearer token in the Authorization header. Test tokens are available

        from workspace settings; admin-level tokens are required for

        administrative operations.

        '
    bearer:
      scheme: bearer
      bearerFormat: JWT
      type: http
x-refined-from:
- integration-app-openapi.yml
- integration-app-app-event-subscriptions-api-openapi.yml
