openapi: 3.2.0
info:
  title: Membrane External API Logs API
  description: API documentation for Membrane Engine
  version: '1.0'
  contact: {}
servers:
- url: https://api.getmembrane.com
security:
- bearer: []
tags:
- name: ExternalApiLogs
paths:
  /external-api-logs/{id}/details:
    get:
      operationId: getExternalApiLogContent
      parameters:
      - name: id
        required: true
        in: path
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExternalLogDetailsDto'
      summary: Get API log content
      tags:
      - ExternalApiLogs
components:
  schemas:
    ExternalLogDetailsDto:
      type: object
      properties:
        request:
          type: object
          additionalProperties:
            type: object
          description: Request details
        response:
          type: object
          properties:
            data:
              type: object
              additionalProperties:
                type: object
              description: Response data
            status:
              type: number
              description: HTTP status code
          required:
          - data
          - status
          description: Response details
        timeMs:
          type: number
          description: Response time in milliseconds
      required:
      - request
      - response
      - timeMs
  securitySchemes:
    bearer:
      scheme: bearer
      bearerFormat: JWT
      type: http
