openapi: 3.1.0
info:
  title: Membrane (formerly Integration.app) Platform Actions Logs API
  description: 'The Membrane platform (rebranded from Integration.app) provides a unified

    API for building embedded and agentic integrations across 100,000+ apps.

    The REST API surfaces resources for connections, connectors, integrations,

    flows, actions, data collections, customers, packages, app event

    subscriptions, MCP-style agent sessions, and observability logs. Most

    selectable resources accept either an id or a key as `{selector}`.

    '
  version: '1.0'
  contact:
    name: Membrane Documentation
    url: https://docs.getmembrane.com
servers:
- url: https://api.getmembrane.com
  description: Production API
security:
- bearerAuth: []
tags:
- name: Logs
paths:
  /connections/{id}/logs:
    parameters:
    - $ref: '#/components/parameters/Id'
    get:
      tags:
      - Logs
      summary: Get connection logs
      operationId: getConnectionLogs
      responses:
        '200':
          description: Logs
  /external-api-logs:
    get:
      tags:
      - Logs
      summary: List external API logs
      operationId: listExternalApiLogs
      responses:
        '200':
          description: Logs
  /external-api-logs/{id}:
    parameters:
    - $ref: '#/components/parameters/Id'
    get:
      tags:
      - Logs
      summary: Get external API log
      operationId: getExternalApiLog
      responses:
        '200':
          description: Log entry
components:
  parameters:
    Id:
      name: id
      in: path
      required: true
      schema:
        type: string
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: 'Bearer token in the Authorization header. Test tokens are available

        from workspace settings; admin-level tokens are required for

        administrative operations.

        '
