openapi: 3.1.0
info:
  title: Membrane (formerly Integration.app) Platform Actions Connectors API
  description: 'The Membrane platform (rebranded from Integration.app) provides a unified

    API for building embedded and agentic integrations across 100,000+ apps.

    The REST API surfaces resources for connections, connectors, integrations,

    flows, actions, data collections, customers, packages, app event

    subscriptions, MCP-style agent sessions, and observability logs. Most

    selectable resources accept either an id or a key as `{selector}`.

    '
  version: '1.0'
  contact:
    name: Membrane Documentation
    url: https://docs.getmembrane.com
servers:
- url: https://api.getmembrane.com
  description: Production API
security:
- bearerAuth: []
tags:
- name: Connectors
paths:
  /connectors:
    get:
      tags:
      - Connectors
      summary: List connectors
      operationId: listConnectors
      responses:
        '200':
          description: Connector list
    post:
      tags:
      - Connectors
      summary: Create connector
      operationId: createConnector
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Connector'
      responses:
        '201':
          description: Connector created
  /connectors/{id}:
    parameters:
    - $ref: '#/components/parameters/Id'
    get:
      tags:
      - Connectors
      summary: Get connector
      operationId: getConnector
      responses:
        '200':
          description: Connector
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Connector'
    put:
      tags:
      - Connectors
      summary: Replace connector
      operationId: replaceConnector
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Connector'
      responses:
        '200':
          description: Updated
    patch:
      tags:
      - Connectors
      summary: Update connector
      operationId: updateConnector
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Connector'
      responses:
        '200':
          description: Updated
    delete:
      tags:
      - Connectors
      summary: Delete connector
      operationId: deleteConnector
      responses:
        '204':
          description: Deleted
  /connectors/{id}/publish:
    parameters:
    - $ref: '#/components/parameters/Id'
    post:
      tags:
      - Connectors
      summary: Publish connector
      operationId: publishConnector
      responses:
        '200':
          description: Published
components:
  parameters:
    Id:
      name: id
      in: path
      required: true
      schema:
        type: string
  schemas:
    Connector:
      type: object
      properties:
        id:
          type: string
        key:
          type: string
        name:
          type: string
        version:
          type: string
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: 'Bearer token in the Authorization header. Test tokens are available

        from workspace settings; admin-level tokens are required for

        administrative operations.

        '
