openapi: 3.1.0
info:
  title: Membrane (formerly Integration.app) Platform Actions API
  description: 'The Membrane platform (rebranded from Integration.app) provides a unified

    API for building embedded and agentic integrations across 100,000+ apps.

    The REST API surfaces resources for connections, connectors, integrations,

    flows, actions, data collections, customers, packages, app event

    subscriptions, MCP-style agent sessions, and observability logs. Most

    selectable resources accept either an id or a key as `{selector}`.

    '
  version: '1.0'
  contact:
    name: Membrane Documentation
    url: https://docs.getmembrane.com
servers:
- url: https://api.getmembrane.com
  description: Production API
security:
- bearerAuth: []
tags:
- name: Actions
paths:
  /actions:
    get:
      tags:
      - Actions
      summary: List actions
      operationId: listActions
      responses:
        '200':
          description: Action list
    post:
      tags:
      - Actions
      summary: Create action
      operationId: createAction
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Action'
      responses:
        '201':
          description: Action created
  /actions/{selector}:
    parameters:
    - $ref: '#/components/parameters/Selector'
    get:
      tags:
      - Actions
      summary: Get action
      operationId: getAction
      responses:
        '200':
          description: Action
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Action'
    put:
      tags:
      - Actions
      summary: Replace action
      operationId: replaceAction
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Action'
      responses:
        '200':
          description: Updated
    patch:
      tags:
      - Actions
      summary: Update action
      operationId: updateAction
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Action'
      responses:
        '200':
          description: Updated
components:
  parameters:
    Selector:
      name: selector
      in: path
      required: true
      description: Resource id or unique key.
      schema:
        type: string
  schemas:
    Action:
      type: object
      properties:
        id:
          type: string
        key:
          type: string
        name:
          type: string
        integrationId:
          type: string
        inputSchema:
          type: object
        outputSchema:
          type: object
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: 'Bearer token in the Authorization header. Test tokens are available

        from workspace settings; admin-level tokens are required for

        administrative operations.

        '
