openapi: 3.1.0
info:
  title: Membrane (formerly Integration.app) Platform Actions Public API
  description: 'The Membrane platform (rebranded from Integration.app) provides a unified

    API for building embedded and agentic integrations across 100,000+ apps.

    The REST API surfaces resources for connections, connectors, integrations,

    flows, actions, data collections, customers, packages, app event

    subscriptions, MCP-style agent sessions, and observability logs. Most

    selectable resources accept either an id or a key as `{selector}`.

    '
  version: '1.0'
  contact:
    name: Membrane Documentation
    url: https://docs.getmembrane.com
servers:
- url: https://api.getmembrane.com
  description: Production API
security:
- bearerAuth: []
tags:
- name: Public
paths:
  /public/apps:
    get:
      tags:
      - Public
      summary: List public apps
      operationId: listPublicApps
      security: []
      responses:
        '200':
          description: List of public apps
  /public/connectors:
    get:
      tags:
      - Public
      summary: List public connectors
      operationId: listPublicConnectors
      security: []
      responses:
        '200':
          description: List of public connectors
  /public/packages:
    get:
      tags:
      - Public
      summary: List public packages
      operationId: listPublicPackages
      security: []
      responses:
        '200':
          description: List of public packages
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: 'Bearer token in the Authorization header. Test tokens are available

        from workspace settings; admin-level tokens are required for

        administrative operations.

        '
