openapi: 3.2.0
info:
  title: Membrane Universe API
  description: API documentation for Membrane Engine
  version: '1.0'
  contact: {}
servers:
- url: https://api.getmembrane.com
security:
- bearer: []
tags:
- name: Universe
paths:
  /v2/universe/apps:
    get:
      operationId: listPublicExternalApps
      parameters:
      - name: limit
        required: false
        in: query
        description: Maximum number of items to return (1-1000)
        schema:
          minimum: 1
          maximum: 1000
          type: integer
      - name: cursor
        required: false
        in: query
        description: Pagination cursor from a previous response
        schema:
          type: string
      - name: search
        required: false
        in: query
        schema:
          type: string
      - name: category
        required: false
        in: query
        schema:
          type: string
      - name: hasData
        required: false
        in: query
        schema:
          type: boolean
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExternalAppsPaginatedV2ResponseDto'
      summary: List public External Apps with authentication support
      tags:
      - Universe
components:
  schemas:
    ExternalAppsPaginatedV2ResponseDto:
      type: object
      properties:
        items:
          type: array
          items:
            type: object
            properties:
              id:
                type: string
              key:
                type: string
              isReadOnly:
                type: boolean
              isPublic:
                type: boolean
              uuid:
                type: string
              name:
                type: string
              appUri:
                type: string
                format: uri
              logoUri:
                type: string
                format: uri
              defaultConnectorId:
                type: string
              basePackageId:
                type: string
              categories:
                type: array
                items:
                  type: string
              popularity:
                type: number
              readmeSlug:
                type: string
              hasAuth:
                type: boolean
              hasData:
                type: boolean
              hasFreeTestAccount:
                type:
                - boolean
                - 'null'
              freeTestAccountGuide:
                type: string
              freeTestAccountGuideVerifiedAt:
                type:
                - string
                - 'null'
                format: date-time
                pattern: ^(?:(?:\d\d[2468][048]|\d\d[13579][26]|\d\d0[48]|[02468][048]00|[13579][26]00)-02-29|\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\d|30)|(?:02)-(?:0[1-9]|1\d|2[0-8])))T(?:(?:[01]\d|2[0-3]):[0-5]\d(?::[0-5]\d(?:\.\d+)?)?(?:Z))$
              openapiSpecs:
                type: array
                items:
                  type: object
                  properties:
                    name:
                      type: string
                    sourceUri:
                      type: string
            required:
            - id
            - key
            - isReadOnly
            - uuid
            - name
            - appUri
            - logoUri
            - defaultConnectorId
            - categories
            - popularity
        cursor:
          type: string
        total:
          type: number
      required:
      - items
      - total
  securitySchemes:
    bearer:
      scheme: bearer
      bearerFormat: JWT
      type: http
