openapi: 3.1.0
info:
  title: Membrane (formerly Integration.app) Platform Actions Search API
  description: 'The Membrane platform (rebranded from Integration.app) provides a unified

    API for building embedded and agentic integrations across 100,000+ apps.

    The REST API surfaces resources for connections, connectors, integrations,

    flows, actions, data collections, customers, packages, app event

    subscriptions, MCP-style agent sessions, and observability logs. Most

    selectable resources accept either an id or a key as `{selector}`.

    '
  version: '1.0'
  contact:
    name: Membrane Documentation
    url: https://docs.getmembrane.com
servers:
- url: https://api.getmembrane.com
  description: Production API
security:
- bearerAuth: []
tags:
- name: Search
paths:
  /search/keyword:
    post:
      tags:
      - Search
      summary: Keyword search
      operationId: keywordSearch
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                query:
                  type: string
      responses:
        '200':
          description: Search results
  /search/semantic:
    post:
      tags:
      - Search
      summary: Semantic search
      operationId: semanticSearch
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                query:
                  type: string
      responses:
        '200':
          description: Search results
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: 'Bearer token in the Authorization header. Test tokens are available

        from workspace settings; admin-level tokens are required for

        administrative operations.

        '
