openapi: 3.1.0
info:
  title: Membrane (formerly Integration.app) Platform Actions External Event Subscriptions API
  description: 'The Membrane platform (rebranded from Integration.app) provides a unified

    API for building embedded and agentic integrations across 100,000+ apps.

    The REST API surfaces resources for connections, connectors, integrations,

    flows, actions, data collections, customers, packages, app event

    subscriptions, MCP-style agent sessions, and observability logs. Most

    selectable resources accept either an id or a key as `{selector}`.

    '
  version: '1.0'
  contact:
    name: Membrane Documentation
    url: https://docs.getmembrane.com
servers:
- url: https://api.getmembrane.com
  description: Production API
security:
- bearerAuth: []
tags:
- name: External Event Subscriptions
paths:
  /external-event-subscriptions/{id}/subscribe:
    parameters:
    - $ref: '#/components/parameters/Id'
    post:
      tags:
      - External Event Subscriptions
      summary: Subscribe
      operationId: subscribeExternalEvent
      responses:
        '200':
          description: Subscribed
  /external-event-subscriptions/{id}/unsubscribe:
    parameters:
    - $ref: '#/components/parameters/Id'
    post:
      tags:
      - External Event Subscriptions
      summary: Unsubscribe
      operationId: unsubscribeExternalEvent
      responses:
        '200':
          description: Unsubscribed
components:
  parameters:
    Id:
      name: id
      in: path
      required: true
      schema:
        type: string
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: 'Bearer token in the Authorization header. Test tokens are available

        from workspace settings; admin-level tokens are required for

        administrative operations.

        '
